.followContainer{
    display: flex;
    flex-direction: row ;
    align-items: flex-start;
}

.followInfo{
    display: flex;
    flex-direction: column ;
    margin-right: 40px;
    margin-left: 16px;
    width: 100%;
}

.follow-list-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.follow-list-user{
    font-weight: 700;
    color: #242424;
    font-size: 16px;
}

.follow-list-description{
    font-weight: 500;
    font-size: 12px;
    color: #74706B;
}

.followList{
    margin-top: 10%;
}

.fButton{
    margin-right: 10%;
}

.followButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #242424;
    border-radius: 33px;
    font-size: 14px;
    padding: 5px 20px;
    margin: 5px;
    text-decoration: none;
    color: #242424;
    font-weight: 500;
    cursor: pointer;

  }
  
  .followButton:hover {
    background-color: #242424;
    color: #ffffff;
  }

  .seeMore a{
        text-decoration: none;
        color: #418a40;
        font-weight: 500
  }