/* Light mode styles */
.light .picksAuthor,
.light .picksTopic,
.light .picksTitle {
  color: #242424; /* Dark text for light background */
}

/* Dark mode styles */
.dark .picksAuthor,
.dark .picksTopic,
.dark .picksTitle {
  color: #ffffff; /* Light text for dark background */
}

/* You can add more customizations for dark mode below */
.dark .picksContainer {
  background-color: #333; /* Example background color for dark mode */
}

.picksContainer {
  flex-direction: column;
  margin-bottom: 24px;
}

.picksContainer a {
  text-decoration: none;
  color: #418a40;
  font-weight: 500;
}

.picksInfo {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.picksImage {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.picksAuthor {
  font-weight: 500;
  color: #242424;
}

.picksTopic {
  font-weight: 500;
  color: #242424;
}

.picksTitle {
  font-size: 20px;
  font-weight: 600;
  color: #242424;
}

ul {
  list-style-type: none;
  padding: 0;
}
